.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: scale(2);
  transition-property: opacity, transform;
  transition-duration: .6s;
  transition-timing-function: ease-out;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.imgs-container {
  padding-top: 96%; /* For aspect ratio */;
  position: relative;
  overflow: hidden;
}

.active-img {
  opacity: 1;
  transform: scale(1);
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .6s ease-out;
  padding: 3rem 1.5rem;
  background: white;
}

.section h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section p {
  color: hsl(0, 0%, 63%);
  font-size: 12px;
  margin-bottom: 1.2rem;
}

.section a {
  display: flex;
  align-items: center;
  letter-spacing: .5em;
  text-transform: capitalize;
  font-weight: 600;
}

.section a:hover {
  color: hsl(0, 0%, 63%);
}

.section-active {
  position: static;
  opacity: 1;
}

.btns-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  background-color: black;
  z-index: 10;
}

.btns-wrapper button {
  padding: 1.25rem;
  background-color: black;
  color: white;
  transition: background-color .6s ease-out;
}

.btns-wrapper button:hover {
  background-color: hsl(0, 0%, 27%);
}

.btns-wrapper img {
  height: auto;
  width: 12px;
}

@media screen and (min-width: 48rem) {
  .main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
  }
  
  .imgs-container {
    padding-top: 63.57%; /* Aspect ratio for larger image */
  }
  
  .section {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 950px) {
  .section {
    padding: 3rem;
  }
  
  .btns-wrapper {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    transform: translateY(0);
  }
}